<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-around mt-5 col-12 text-capitalize"> 
            <button id="botonAnterior" class="btn d-flex mt-3 rounded-5">
                <h3 class="align-content-center ms-2 mt-2 me-2"><i class="bi bi-caret-left-fill me-2"></i>Anterior ataque</h3>
            </button>

            <div>
                <h1>{{move!.names[5].name}}</h1>
            </div>

            <button id="botonSiguiente" class="btn d-flex mt-3 rounded-5">
                <h3 class="align-content-center me-2 ms-2 mt-2">Siguiente ataque<i class="bi bi-caret-right-fill ms-2"></i></h3>
            </button>
        </div>

        <div class="d-flex mt-5 col-12">
            <div class="col-6 text-center">
                <img class="move-sprite" alt="{{move!.name}}" src="/asset/img/{{move!.type.name}}.png">
            </div>

            <div class="col-6">
                <div id="tarjeta-detalle" class="rounded-5 mb-4">
                    <div class="d-flex">
                        <p class="tamayo-letra ms-4 mt-2">Potencia: </p>
                        @if (move!.power == null) {
                            <p class="tamayo-letra ms-4 mt-2"> -- </p>
                        }
                        @else {
                            <p class="tamayo-letra ms-4 mt-2"> {{ move!.power}} </p>
                        }
                    </div>
                    <div class="d-flex">
                        <p class="tamayo-letra ms-4 mt-2">Precisión: </p>
                        @if (move!.accuracy == null) {
                            <p class="tamayo-letra ms-4 mt-2"> -- </p>
                        }
                        @else {
                            <p class="tamayo-letra ms-4 mt-2"> {{ move!.accuracy}} </p>
                        }
                    </div>
                    <div class="d-flex">
                        <p class="tamayo-letra ms-4 mt-2">PP: </p>
                        <p class="tamayo-letra ms-4 mt-2"> {{ move!.pp }} </p>
                    </div>
                    <div class="damage-class start-50 mt-5">
                        <img src="/asset/img/{{move!.damage_class.name}}.png" alt="damage-class">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>