body {
    min-height: min-content;
}

#seleccionado {
    box-shadow: 5px 5px 2.5px rgb(255, 255, 255);
}

@font-face {
    font-family: "kodchasan";
    src: url(../../../../public/asset/fonts/Kodchasan/Kodchasan-SemiBold.ttf);
}


*,  h1{
    font-family: 'Kodchasan';
}

#botonAnterior {
    background-color: #F0EFEE !important;
    height: 70px;
    box-shadow: 5px 5px 2.5px rgb(187, 185, 185);
}

#botonSiguiente {
    background-color: #F0EFEE !important;
    height: 70px;
    box-shadow: 5px 5px 2.5px rgb(187, 185, 185);
}

#botonSiguiente:hover {
    background-color: #EFD4AB !important;
}

#botonAnterior:hover {
    background-color: #EFD4AB !important;
}

#tarjeta-detalle {
    height: 200px;
    background-color: #F0EFEE !important;
    box-shadow: 5px 5px 2.5px rgb(187, 185, 185);
    width: 70%;
}

#estadisticas {
    height: 280px;
    background-color: #F0EFEE !important;
    box-shadow: 5px 5px 2.5px rgb(187, 185, 185);
    width: 70%;

}
.tamayo-letra {
    font-size: 20px;
}

#seleccionado {
    box-shadow: 5px 5px 2.5px rgb(255, 255, 255);
}

.move-sprite {
    width: 30%;
}

.damage-class {
    height: 20px;
}