
<header>
    <nav class="d-flex justify-content-center container-fluid">
      <div class="ms-3 mt-1 position-absolute top-0 start-0">
        <img src="/asset/img/Sana_Ball.webp" width="70px" alt="sana ball">
      </div>

      <div class="d-flex">
        <div class="btn d-flex mt-3 me-5 rounded-5 justify-content-between boton" id="seleccionado">
          <h4>Pokémon</h4>
          <div>
            <img src="/asset/img/psyduck_icon-icons.com_67509.png" width="40px" alt="sana ball">
          </div>
        </div>

        <div class="btn d-flex mt-3 me-5 ms-5 rounded-5 justify-content-between boton">
          <h4>Ataques</h4>
          <div class>
            <img src="/asset/img/pokebola.png" width="40px" alt="ataque">
          </div>
        </div>

        <div class="btn d-flex mt-3 ms-5 rounded-5 justify-content-between boton">
          <h4>Bayas</h4>
          <div>
            <img src="/asset/img/Baya_Aranja_EP.png" width="40px" alt="sana ball">
          </div>
        </div>

      </div>

      <div class="position-absolute top-0 end-0 me-3 mt-1">
        <img src="/asset/img/Sana_Ball.webp" width="70px" alt="sana ball">
      </div>
    </nav>
</header>