<main>
    <div class="container-fluid">
        <div class="row" id="listaPokemon">
          @for (item of berryList; track item.url.split("/")[6]) {
            <div class="d-flex justify-content-around col custom-col mt-5">
              <div class="pokemon-card text-center">
                <a class="text-decoration-none" href="#">
                  <img class="pokemon-sprite" [src]="'https://images.wikidexcdn.net/mwuploads/wikidex/8/85/latest/20230102201719/' + item.name + '.png'">
                  <div class="pokemon-name hover-${tipo}">
                    <p class="mt-3">{{item.name}}</p>
                  </div>
                </a>
              </div>
            </div>
          }
        </div>
      </div>
</main>
